body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p{
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: larger;
}
#Inc{
  background-color: blue;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
}
#Dec{
  background-color: rgb(230, 197, 11);
  color: rgb(0, 0, 0);
  border-radius: 5px;
}